Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.log
/config.sub
/configure
/depcomp
/gnome-doc-utils.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/ltmain.sh
/m4
/missing
/mkinstalldirs
/omf.make
/po/Makefile.in.in
/xmldocs.make
